.cart-no{
    position: absolute;
    min-height: 20px;
    min-width: 20px;
    border-radius: 50%;
    font-size: 14px;
    background: blue;
    color: white;
    text-align: center;
    top: -10px;
    right: 35px;
}